langchain
langchain-community
langchain-openai
langchain-text-splitters
langgraph
openai

sentence-transformers
torch
transformers

sqlalchemy

pypdf
fpdf2

mcp

lancedb
pyarrow

pydantic

typing-extensions

streamlit
streamlit-chat

python-dotenv
pandas
faker
tiktoken

