langchain
langchain-community
langchain-openai
langchain-text-splitters
langgraph
openai

sentence-transformers
torch
transformers

faiss-cpu

sqlalchemy

pypdf
fpdf2

mcp

pydantic
typing-extensions

streamlit
streamlit-chat

python-dotenv
pandas
faker
tiktoken

